<%- include('partials/Header') %>
    <div class="bg-slate-50 absolute ml-auto mr-auto left-0 right-0 mt-44">
        <div class="container mx-auto px-4">
            <div class="flex justify-center">
                <div class="w-full max-w-md">
                    <div class="flex flex-col break-words bg-white border-2 rounded shadow-md">
                        <div class="font-semibold bg-gray-200 text-gray-700 py-3 px-6 mb-0">
                            <h1 class="text-xl text-center">Pixgent - About</h1>
                        </div>
                        <div class="w-full p-6">
                            <p class="leading-normal">
                                Pixgent was founded by <a href="https://discord.com/users/831903326748540928" class="font-bold">stachy#8769</a> and its aim is to provide unlimited photo upload service. It is in BETA for now, but it will be out of
                                BETA soon. <br><br> Now let's come to the questions in your mind. Many of you are wondering if it is reliable. Let me answer like this. This site is open source and in no way uses your IP Address etc. does not record. It
                                only saves the photos you add. If you don't believe, you can check it at <a class="font-bold" href="https://github.com/st4chy/achyStorage">Github</a> <br><br> Establishment date: 02.02.2022
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>