<%- include('partials/Header') %>
    <div class="bg-slate-50 absolute ml-auto mr-auto left-0 right-0 mt-44">
        <div class="container mx-auto px-4">
            <div class="flex justify-center">
                <div class="w-full max-w-md">
                    <div class="flex flex-col break-words bg-white border-2 rounded shadow-md">
                        <div class="font-semibold bg-gray-200 text-gray-700 py-3 px-6 mb-0">
                            <h1 class="text-xl text-center">Pixgent - Contact</h1>
                        </div>
                        <div class="w-full p-6">
                            <p class="leading-normal">
                                <a href="mailto:contact@achystorage.cf" class="font-bold">Email</a> <br>
                                <a href="https://discord.com/users/831903326748540928" class="font-bold">Discord</a> <br> <br> *If the e-mail address is not working, it would be better if you write to me on Discord.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>