<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" href="https://i.hizliresim.com/f3odkda.png">
    <title>achyStorage</title>
</head>

<body>
    <center>
        <img src="https://i.hizliresim.com/f3odkda.png" class="logo">
        <h2 class="title">achyStorage</h2>
        <p class="subtitle">Fast and secure file uploader.</p>
        <div class="box">
            <form id="achyupload" enctype="multipart/form-data" method="post">
                <input class="upload" type="file" name="achy" />
                <input type="submit" value="Upload!" name="submit">
            </form>
        </div>
        <p class="warning">*Only png, jpg, gif and txt formatted files are accepted.</p>
    </center>
</body>

</html>
